@import url("assessment-tool.css");

.at {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 0;
}

.at-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.at-stack-1x,
.at-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.at-stack-1x {
  line-height: inherit;
}